.title{
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
}
.subtitle{
    font-size: 50px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: red;
}
.text{
    font-family: 'Josefin Sans', sans-serif;
}
.piece-papper{
    background-color: #ffffff;
    margin: 15px auto 15px auto;
    max-width: 600px;
    padding: 15px;
}
.main{
    background-color: grey;

}

